In [1]:
# while loop contiue

'C:\\Users\\DELL'

In [1]:
# a=1
# while a<6:
#     print(a)
    
#     if a==4:
#         continue
#     a=a+1

In [1]:
a=1
while a<6:
    print(a)
    a=a+1
    if a==4:
        continue

1
2
3
4
5

In [3]:
while a<6:
    pass

In [5]:
range(9)

range(0, 9)

In [9]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [10]:
list(range(3,100,5))

[3, 8, 13, 18, 23, 28, 33, 38, 43, 48, 53, 58, 63, 68, 73, 78, 83, 88, 93, 98]

In [11]:
list(range(1,9,-1))

[]

In [12]:
list(range(10,5,-1))

[10, 9, 8, 7, 6]

In [17]:
for i in range(10,-5,-2):
    print(i)

10
8
6
4
2
0
-2
-4

In [48]:
# pattern
for i in range(0,5):
    for k in range(0,5-i):
        print(end=" ")
    for j in range(0,2*i+1):
        print("*",end="")
    print("\r")

     *
    ***
   *****
  *******
 *********

In [14]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [47]:
for i in range(0,5,1):
   
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****

In [35]:
t=(1,3,4,6,8,9)
t[0]

1

In [41]:
# with for loop reverse tuple
for i in range(len(t)-1,-1,-1):
    print(i,"index value is ",t[i])

5 index value is  9
4 index value is  8
3 index value is  6
2 index value is  4
1 index value is  3
0 index value is  1

In [3]:
d={"a":"dcds","b":"cdsc","c":122,"d":(1,2,3)}

In [4]:
for i in d:
    print(i)

a
b
c
d

In [5]:
for i in d.items():
    print(i)

('a', 'dcds')
('b', 'cdsc')
('c', 122)
('d', (1, 2, 3))

In [11]:
s={1,56,3,322,3,4,5}
s

{1, 3, 4, 5, 56, 322}

In [13]:
for i in s:
    print(i)
    #gives an undered set

1
322
3
4
5
56

# Functions

In [ ]:
# len(),print()

In [2]:
def test():
    pass

In [3]:
def test1():
    print("my first func")

In [4]:
test1()

my first func

In [6]:
a=test1()

my first func

In [7]:
a+"adnan"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [8]:
type(a)

NoneType

In [9]:
type(test1())

my first func

NoneType

In [10]:
str(a)

'None'

In [13]:
def test2():
    return "my first func"

In [12]:
test2()

'my first func'

In [14]:
a=test2()

In [15]:
type(test2())

str

In [16]:
test2()+" adnan"

'my first func adnan'

In [17]:
def test3():
    return 34

In [20]:
a=test3()

In [21]:
type(test3())

int

In [22]:
str(a)+"adnan"

'34adnan'

In [24]:
def test4():
    return "my first func",4,1,[1,2,3,4]

In [25]:
test4()

('my first func', 4, 1, [1, 2, 3, 4])

In [27]:
type(test4())

tuple

In [28]:
b=test4()

In [29]:
b[1]

4

In [30]:
a,b,c,d=test4()

In [31]:
a

'my first func'

In [32]:
b

4

In [33]:
d

[1, 2, 3, 4]

In [34]:
def test6():
    a=7*7/5
    return a

In [35]:
test6()

9.8

In [58]:
l=[3,4,5,6,7,"sudh",5.5,[1,2,3],5]
# func to filter only int
def test7(a):
    n=[]
    if type(a)==list:
        for i in a:
            if(type(i)==int):
                n.append(i)
    return n

In [59]:
test7(l)

[3, 4, 5, 6, 7, 5]

In [65]:
# take input as dict and return keys
def test8(c):
    if type(c)==dict:
        return c.keys()

In [66]:
test8({"a":"adnna","b":"adnna","xx":12})

dict_keys(['a', 'b', 'xx'])

In [86]:
def test9(a,b):
    if type(a)==list and type(a)==list:
        a.extend(b)
        return a
    else:
        return "Not a list"

In [87]:
test9([4,3,4],[1,2,3])
# we are not able to see becox we are not storing list anywhere

[4, 3, 4, 1, 2, 3]

In [88]:
a=[4,3,4]
b=[1,2,3]

In [89]:
test9(a,b)

[4, 3, 4, 1, 2, 3]

In [90]:
a

[4, 3, 4, 1, 2, 3]

In [21]:
def triangle(row):
    '''dcddvfs'''
    for i in range(0,row):
        for j in range(i+1):
            print(".",end=" ")
        print("\n")

In [20]:
triangle(10)

.

. .

. . .

. . . .

. . . . .

. . . . . .

. . . . . . .

. . . . . . . .

. . . . . . . . .

. . . . . . . . . .

In [25]:
help(triangle)

Help on function triangle in module __main__:

triangle(row)
    dcddvfs

In [ ]:
"""fhdhg
fh
yt
htr
hytr"""

In [1]:
# Tasks 
# 1/write func which wil take string and return the lrnth of string
2func which will print the index of all primitive elementrs passed?
# fuc i/p as dic and return the list of all the val even is second levelof nested lpoop
# func wehich will take list  as input and give concatiinatiuon of all elems
# func wehich will take list  as input and give index of all elems even if there are repetetive elems then it returns index

In [3]:
# Task1?

def length_string(stri):
    a=0;
    for i in stri:
        a+=1
    return a
length_string("Syed Mohammad Adnan")

19

In [11]:
# task2
def index_permitive(elem):
    for i in range(len(elem)):
        print(i)
index_permitive("ADNANMIAN")

0
1
2
3
4
5
6
7
8

In [32]:
# task3(to do)
def dict_list(elem):
    if(type(elem)==dict):
        return elem.values()
dict_list({"A":"ADNAN","B":"Bipasha Basu","C":"Celvin Kelin","D":{"E":"Elep","F":"Fish"}})

dict_values(['ADNAN', 'Bipasha Basu', 'Celvin Kelin', {'E': 'Elep', 'F': 'Fish'}])

In [42]:
# task4
def test():
    return "How r u"
def fun():
     a=0;
     for i in test():
        a+=1
     return a
fun()

7

In [57]:
# task5
def concatList(list):
    strx=""
    for i in list:
        strx=strx + str(i)
    return strx
concatList([1,"adnan","ss",2])

'1adnanss2'

In [62]:
# task6
def list_index(list):
    for i in range(len(list)):
        print(i)
list_index([1,"adnan","ss",2,2,3])

0
1
2
3
4
5

In [65]:
# task7
import os
def list_filenames_dir():
    return os.listdir("C:\\Users\\DELL")
list_filenames_dir()

['.cache',
 '.conda',
 '.condarc',
 '.config',
 '.continuum',
 '.eclipse',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.keras',
 '.lemminx',
 '.m2',
 '.matplotlib',
 '.ms-ad',
 '.sts4',
 '.vscode',
 '3D Objects',
 'AppData',
 'Application Data',
 'Contacts',
 'Cookies',
 'Desktop',
 'Documents',
 'Downloads',
 'Favorites',
 'IntelGraphicsProfiles',
 'Links',
 'Local Settings',
 'Music',
 'My Documents',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{b0db15e3-e3fd-11ec-8f9c-080027ec4824}.TM.blf',
 'NTUSER.DAT{b0db15e3-e3fd-11ec-8f9c-080027ec4824}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{b0db15e3-e3fd-11ec-8f9c-080027ec4824}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Pictures',
 'PrintHood',
 'Python  Basics part 1.zip',
 'Python  Basics.ipynb',
 'Python Basics Part 2.ipynb',
 'RASA_Chatbot',
 'Recent',
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'Templates',
 'Videos']

In [67]:
# task8
import platform

In [70]:
platform.machine()
platform.version()

'10.0.19044'

In [71]:
platform.uname()

uname_result(system='Windows', node='DESKTOP-6RBNGV3', release='10', version='10.0.19044', machine='AMD64')

In [73]:
platform.processor()

'Intel64 Family 6 Model 142 Stepping 10, GenuineIntel'

In [74]:
import datetime

In [75]:
current_time = datetime.datetime.now()

In [76]:
current_time.year

2023

In [79]:
current_time.day

2

In [80]:
current_time.hour

17

In [83]:
current_time.minute

3

In [85]:
import cv2

ModuleNotFoundError: No module named 'cv2'

In [87]:
def test(a,b,c):
    return a,b,c

In [89]:
test(1,2,3)

(1, 2, 3)

In [90]:
def test(*args):
    return args

In [92]:
test(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [99]:
def test(*args,a):
    return args,a

In [100]:
test(1,2,3,4,5,a=6)

((1, 2, 3, 4, 5), 6)

In [101]:
def test(a,*args):
    return args,a

In [102]:
test(1,2,3,4,5)

((2, 3, 4, 5), 1)

In [121]:
def test(a,*args,b,c):
    return args

In [122]:
test(1,2,[3,4,5],b=4,c="3432")

(2, [3, 4, 5])

In [120]:
def test(**kwrgs):
    return kwrgs

In [105]:
test(a=1,b=2,c=3)

{'a': 1, 'b': 2, 'c': 3}

In [107]:
test(a="adnan",b=2,c=True)

{'a': 'adnan', 'b': 2, 'c': True}

In [129]:
def test(a,*args,**kwrgs):
    return a,args,kwrgs

In [131]:
test(1,2,3,4,5,[1,2,3,4],b="scsa",c="scsa")

(1, (2, 3, 4, 5, [1, 2, 3, 4]), {'b': 'scsa', 'c': 'scsa'})

# Anonymous Func Lambda fun

In [135]:
a=lambda a,b :(a*b,a+b)

In [136]:
a(10,20)

(200, 30)

In [137]:
a=lambda *a:a

In [138]:
a(10,20,30)

(10, 20, 30)

In [141]:
x=lambda x: [i for i in x]

In [142]:
x([2,3,45,5])

[2, 3, 45, 5]

In [143]:
a=lambda **kwargs:kwargs

In [146]:
a(a=45,b=56)

{'a': 45, 'b': 56}

In [147]:
a=10
def test16(c,d):
    c=5
    return c*d

In [148]:
test16(a,50)

250

In [149]:
def test5(a):
    l=[]
    for i in a:
        l.append(i+2)
    return l

In [150]:
test5([1,3,6])

[3, 5, 8]

In [153]:
a=lambda a:[i+2 for i in a if i<4]

In [154]:
a([1,3,5])

[3, 5]

In [1]:
# task
d={1:1,2:4,3:9}

In [5]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [7]:
dictonary={}
for i in range(10):
    dictonary[i]=i**2

In [8]:
dictonary

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [10]:
tuple(i for i in range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)


# Iterator and generator

In [11]:
a=50
for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [12]:
s="adnan"
for i in s:
    print(i)

a
d
n
a
n

In [13]:
next(s)

TypeError: 'str' object is not an iterator

In [19]:
b=iter(s)
# iter convert iterable into iterator then we can access

In [17]:
next(b)

'a'

In [18]:
next(b)

'd'

In [ ]:
# there is a diff between iterable(which we can access in sequential mannaer) and iterator

In [22]:
a="adnan" 
# by defalut for loop internally coverts iteratable to iterator
for i in a:
    print(i)
#     by doing next and next it will give all the elems

a
d
n
a
n

In [23]:
l=[3,4,5,6]

In [24]:
next(l)

TypeError: 'list' object is not an iterator

In [25]:
x=iter(l)

In [26]:
next(x)

3

In [27]:
next(x)

4

In [ ]:
# all iterables can be converted into iterator